<header class="main-header">
<nav class="navbar ">
<section class="container">
  <div class="row">
      <div class="col-sm-3 col-xs-12">
        <input type="text" class="form-control">   
      </div>
      <div class="col-sm-3 col-xs-12">
        <input type="text" class="form-control">   
      </div>
      <div class="col-sm-3 col-xs-12">
        <input type="text" class="form-control">   
      </div>
      <button type="button" class="btn btn-default">Filtrar</button>
  </div>
</section>
</nav>
</header>



